.container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.container img {
	display: none;
	border-radius: 10px;
}
.container input {
	width: 100px;
	height: 100px;
}
